{%extends 'base.html'%}
{%load static%}
{%block extraCSS%}
    <link rel="stylesheet" href="{%static 'css/cart.css'%}">
    <style>
        .hidden{
            display: none;
        }
        #card-element{
            padding: 10px;
            background: #f1f1f1;
            margin-bottom: 10px;
        }
        #payment-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 15px;
        }
    </style>
{%endblock%}
{%block header%}
{%endblock%}

{%block body%}
    <div id="main">
        <div id="cart_product_main">
            {%for orderitem in cart.products.all%}
            <div class="cart_product_block">
                <div class="product__img">
                    <img src={{orderitem.product.album.default.image.url}} alt="">
                </div>
                <div class="product__text">
                    <a href="{%url 'core:ProductView' pk=orderitem.product.pk%}" class="a_no_style">
                        <p class="cart_product_name">
                            {{orderitem.product}}
                        </p>
                    </a>
                    <p class="cart_product_description">
                        {{orderitem.product.description}}
                    </p>
                </div>
                <div class="cart_product_price">
                    {%if orderitem.get_discount_item_price == orderitem.get_total_item_price%}
                        <p>{{orderitem.get_final_price}} $</p>
                    {%else%}
                        <p>{{orderitem.get_final_price}} $</p>
                        <del>{{orderitem.get_total_item_price}} $</del>
                        <p id="discount_ratio">-{{orderitem.get_discount_item_percentage}}%</p>
                    {%endif%}
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->

                </div>
                <div class="cart_product_quantity_main">
                    <a href="{%url 'shop:manage_quantity' action='r' pk=orderitem.product.pk%}" class="a_no_style quantity_btn">-</a>
                    <p class="cart_product_quantity">
                        {{orderitem.quantity}}
                    </p>
                    <a href="{%url 'shop:manage_quantity' action='a' pk=orderitem.product.pk%}" class="a_no_style quantity_btn">+</a>
                </div>
            </div>
            {%empty%}
            <p style="color:red;">Cart is Empty!!</p>
            {%endfor%}
        </div>
        <div id="cart_checkout_main">
            {%csrf_token%}
            <h2>Order Summary</h2>
            <form id="payment-form">
                <input type="text" id="email" placeholder="Email address" />
                <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                <button id="submit" class="btn">
                  <div class="spinner hidden" id="spinner">
                    <svg class="spinner" viewBox="0 0 50 50">
                        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                    </svg>
                  </div>
                  <span id="button-text">Pay</span>
                </button>
                <p id="card-error" role="alert"></p>
                <p class="result-message hidden">
                  Payment succeeded, see the result in your
                  <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                </p>
            </form>
            <!-- <a class="a_no_style cart_checkout_btn">Proceed To CheckOut</a> -->
        </div>
        {%endblock%}        
    </div>
{%block extraJS%}
    <script>
        let quantity_btns = document.getElementsByClassName('quantity_btn');
        window.addEventListener('load',(event)=>{
            for(let i = 0; i < quantity_btns.length; i++){
                quantity_btns[i].addEventListener('click',(event)=>{
                    setTimeout(()=>{
                        event.target.setAttribute('href','')
                    },50)
                })
            }
        })
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        document.querySelector("button").disabled = true;
        var elements = stripe.elements();
        var style = {
        base: {
            color: "#32325d",
            fontFamily: 'Arial, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
            color: "#32325d"
            }
            
        },
        invalid: {
            fontFamily: 'Arial, sans-serif',
            color: "#fa755a",
            iconColor: "#fa755a"
        }
        };
        var card = elements.create("card", { style: style });
        // Stripe injects an iframe into the DOM
        card.mount("#card-element");
        card.on("change", function (event) {
        // Disable the Pay button if there are no card details in the Element
        document.querySelector("button").disabled = event.empty;
        document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
        });
        var form = document.getElementById("payment-form");
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            // Complete payment when the submit button is clicked
            fetch("{% url 'shop:create-payment-intent' %}", {
                method: "POST",
                headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                email: document.getElementById('email').value
                })
            })
                .then(function(result) {
                    return result.json();
                })
                .then(function(data) {
                    payWithCard(stripe, card, data.clientSecret);
                });
            });

        // Calls stripe.confirmCardPayment
        // If the card requires authentication Stripe shows a pop-up modal to
        // prompt the user to enter authentication details without leaving your page.
        var payWithCard = function(stripe, card, clientSecret) {
        loading(true);
        stripe.confirmCardPayment(clientSecret, {
            payment_method: {
                card: card
            }
            })
            .then(function(result) {
            if (result.error) {
                // Show error to your customer
                showError(result.error.message);
            } else {
                // The payment succeeded!
                orderComplete(result.paymentIntent.id);
            }
            });
        };
        /* ------- UI helpers ------- */
        // Shows a success message when the payment is complete
        var orderComplete = function(paymentIntentId) {
        loading(false);
        document
            .querySelector(".result-message a")
            .setAttribute(
            "href",
            "https://dashboard.stripe.com/test/payments/" + paymentIntentId
            );
        document.querySelector(".result-message").classList.remove("hidden");
        document.querySelector(".btn").classList.add('hidden')
        document.querySelector("button").disabled = true;
        setTimeout(()=>{
            location.reload()
        },3000)
    };
        // Show the customer the error from Stripe if their card fails to charge
        var showError = function(errorMsgText) {
        loading(false);
        var errorMsg = document.querySelector("#card-error");
        errorMsg.textContent = errorMsgText;
        setTimeout(function() {
            errorMsg.textContent = "";
        }, 4000);
        };
        // Show a spinner on payment submission
        var loading = function(isLoading) {
        if (isLoading) {
            // Disable the button and show a spinner
            document.querySelector("button").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.querySelector("button").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
        }
        };
    </script>
{%endblock%}