{%extends 'base.html'%}
{%load static%}
{%block extraCSS%}
    <link rel="stylesheet" href="{%static 'css/list_payments.css'%}">
{%endblock%}
{%block header%}
{%endblock%}

{%block body%}
    <div id="payment_list_cont" class="custom_sroll">
        {%for payment in payments%}
            <div class="payment_item">
                <p>You Payment of <span style="font-weight:bolder;">{{payment.amount_in_dollars}} $</span> was successfull, Collect your receipt <a href="{{payment.retrieve_reciept_url}}" target="_blank">here</a></p>
                <p style="color: var(--text-fadded);">{{payment.timesince}} ago</p>
            </div>
        
        {%endfor%}
    </div>    
{%endblock%}

{%block extraJS%}
{%endblock%}